* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
  }

.login {
    color: grey;
    margin-left: 122rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    display: flex;
    gap: 1.5rem;
    
}

.unselectable {
    user-select: none;
}

#logo {
    margin-left: 1rem; margin-bottom: 1rem;
}

.header_2 {
    display: flex;
}

.contents {
    margin-top: 1.8rem;
    margin-left: 93rem;
    gap: 5.5rem;
    display: flex;
    font-size: 2rem;
}

input{
    display: none;
}

.one {
    background-image: url(./선수제공파일/공통/images/22.JPG);
    background-size: cover;
}


.two {
    background-image: url(./선수제공파일/공통/images/24.JPG);
    background-size: cover;
}


.three {
    background-image: url(./선수제공파일/공통/images/23.JPG);
    background-size: cover;
}

#visual {
    position: relative;
    width: 100%;
    height: 50rem;
    background-color: gray;
    overflow: hidden;
    margin: auto;
    margin-top: -10px;
    
}

#visual:hover .slides {
    animation-play-state: paused;
}

.slides {
    position: absolute;
    width: 400%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    display: none;
    animation-name: slider;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.slide {
    width: 100%;
    height: 800px;

}

#slide1txt, #slide2txt, #slide3txt {
    margin-left: 2.5rem;
    font-size: 2.4rem;
    margin-top: 33rem;
    line-height: 4rem;
}

#slide1txt {
    color: gold;
    text-shadow: black 1px 0 10px;
}

#slide2txt {
    color: rgb(255, 196, 0);
    text-shadow: black 1px 0 10px;
    text-shadow: 5px 5px rgb(136, 113, 8);
}

#slide3txt {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 183, 255) 2px 0 20px;
}

#slide3:checked ~ .buttons > .button:nth-child(3),
#slide2:checked ~ .buttons > .button:nth-child(2),
#slide1:checked ~ .buttons > .button:nth-child(1),
#slide3:checked ~ #visual > .slides:nth-child(3),
#slide2:checked ~ #visual > .slides:nth-child(2),
#slide1:checked ~ #visual > .slides:nth-child(1) {
    display: flex;
}

@keyframes  slider {
    0% {
        left: 0;
    } 30% {
        left: 0%;
    } 33% {
        left: -100%;
    } 63% {
        left: -100%;
    } 66% {
        left: -200%;
    } 96% {
        left: -200%;
    } 100% {
        left: -300%;
    }
}

.buttons {
    top: 30rem;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.button {
    width: 100%;
    position: absolute;
    margin-left: -5px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    display: none;
}

.button label {
    cursor: pointer;
}

.arrow {
    width: 7rem; height: 7rem;
    pointer-events: all;
}

#panmeSangpum {
    justify-content: center;
    display: flex;
    margin: 8rem;
    font-size: 3rem;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 20px;
}

.category_btn {
    margin: 10px;
    font-size: 18px;
    border: 2px solid rgb(139, 139, 139); border-radius: 6px;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 5px 20px;
    line-height: 30px;
}

.category_btn:hover {
    border: 2px solid rgb(255, 153, 0); border-radius: 6px;
    background-color: rgb(255, 153, 0);
    transition: background-color 0.3s, color 0.3s;
    color: white;
    
}

.category_btn:active {
    border: 2px solid rgb(255, 153, 0); border-radius: 6px;
    background-color: rgb(255, 153, 0);
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

.category_content {
    margin-top: 20px;
}

.category_items {
    display: none;
}

#health:target,
#digital:target,
#fancy:target,
#perfume:target,
#haircare:target {
    display: block;
}

#health:target ~ .categories #healthID,
#digital:target ~ .categories #digitalID,
#fancy:target ~ .categories #fancyID,
#perfume:target ~ .categories #perfumeID,
#haircare:target ~ .categories #haircareID {
    border: 2px solid rgb(255, 153, 0); border-radius: 6px;
    background-color: rgb(255, 153, 0);
    color: white;
}